NET	"NREQ"		LOC = "P137"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<31>"	LOC = "P138"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<30>"	LOC = "P139"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<29>"	LOC = "P140"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<28>"	LOC = "P141"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<27>"	LOC = "P142"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<26>"	LOC = "P143"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"PCLK"	LOC = "P24"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<25>"	LOC = "P1"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<24>"	LOC = "P2"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NCBE<3>"		LOC = "P5"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<23>"	LOC = "P6"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<22>"	LOC = "P7"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<21>"	LOC = "P8"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<20>"	LOC = "P9"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<19>"	LOC = "P10"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<18>"	LOC = "P11"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<17>"	LOC = "P12"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<16>"	LOC = "P14"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NCBE<2>"		LOC = "P15"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NIRDY"		LOC = "P16"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NFRAME"	LOC = "P17"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NDEVSEL"	LOC = "P21"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NTRDY"		LOC = "P22"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NLOCK"		LOC = "P23"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NSTOP"		LOC = "P26"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NPERR"		LOC = "P27"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"PAR"		LOC = "P29"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NSERR"		LOC = "P30"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NCBE<1>"		LOC = "P32"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<15>"	LOC = "P33"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<14>"	LOC = "P34"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<13>"	LOC = "P35"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<12>"	LOC = "P40"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<11>"	LOC = "P41"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<10>"	LOC = "P43"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<9>"		LOC = "P44"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<8>"		LOC = "P45"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NCBE<0>"		LOC = "P46"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<7>"		LOC = "P47"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<6>"		LOC = "P48"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<5>"		LOC = "P50"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<4>"		LOC = "P51"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<3>"		LOC = "P55"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<2>"		LOC = "P56"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<1>"		LOC = "P57"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"AD<0>"		LOC = "P58"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"IDSEL"		LOC = "P59"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NRST"		LOC = "P61"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NINTA"		LOC = "P62"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12 | PULLUP;
NET	"XCLK"		LOC = "P133"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;

NET	"IOBITS<0>"	LOC = "P132"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<1>"	LOC = "P131"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<2>"	LOC = "P127"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<3>"	LOC = "P126"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<4>"	LOC = "P124"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<5>"	LOC = "P123"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<6>"	LOC = "P121"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<7>"	LOC = "P120"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<8>"	LOC = "P119"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<9>"	LOC = "P118"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<10>"	LOC = "P117"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<11>"	LOC = "P116"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<12>"	LOC = "P115"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<13>"	LOC = "P114"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<14>"	LOC = "P112"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<15>"	LOC = "P111"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<16>"	LOC = "P83"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<17>"	LOC = "P105"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<18>"	LOC = "P104"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<19>"	LOC = "P102"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<20>"	LOC = "P101"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<21>"	LOC = "P100"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<22>"	LOC = "P99"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<23>"	LOC = "P98"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<24>"	LOC = "P97"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<25>"	LOC = "P95"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<26>"	LOC = "P94"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<27>"	LOC = "P93"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<28>"	LOC = "P92"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<29>"	LOC = "P88"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<30>"	LOC = "P87"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<31>"	LOC = "P85"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<32>"	LOC = "P84"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;
NET	"IOBITS<33>"	LOC = "P82"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=24;

NET	"SPICS"		LOC = "P38"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"SPIDO"		LOC = "P64"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"SPIDI"		LOC = "P65"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"SPICLK"		LOC = "P70"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;

NET	"LEDS<0>"	LOC = "P74"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"LEDS<1>"	LOC = "P75"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;

#NET	"LIOBITS<0>"	LOC = "P81"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
#NET	"LIOBITS<1>"	LOC = "P80"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
#NET	"LIOBITS<2>"	LOC = "P79"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
#NET	"LIOBITS<3>"	LOC = "P78"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
#NET	"LIOBITS<4>"	LOC = "P66"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
#NET	"LIOBITS<5>"	LOC = "P67"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
#NET	"TMS"		LOC = "P107"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
#NET	"TDI"		LOC = "P110"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
#NET	"TDO"		LOC = "P106"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
#NET	"TCK"		LOC = "P109"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
#NET	"NPROGRAM"	LOC = "P37"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
#NET	"NGNT"		LOC = "P134"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
#NET	"M0"		LOC = "P69"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
#NET	"M1"		LOC = "P60"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
#NET	"HSWAPEN"	LOC = "P144"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
NET	"NINIT"		LOC = "P39"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;
#NET	"NDONE"		LOC = "P71"	| IOSTANDARD=LVTTL | SLEW=SLOW | DRIVE=12;

NET "PCLK" TNM_NET = "PCLK";
TIMESPEC "TS_PCLK" = PERIOD "PCLK" 30 ns HIGH 50 %;
NET "XCLK" TNM_NET = "XCLK";
TIMESPEC "TS_XCLK" = PERIOD "XCLK" 20 ns HIGH 50 %;
NET "clkfx1" TNM_NET = "async_med";	# for async sserial processor clock
NET "PCLK" TNM_NET = "async_low";	
TIMESPEC "TSLowToMed" = FROM "async_low" to "async_med" TIG;
TIMESPEC "TSMedtoLow" = FROM "async_med" to "async_low" TIG;