#NET	"NC"         	LOC	=	"A3"	;
#NET	"NCRP"       	LOC	=	"B4"	;
#NET	"NCRN"       	LOC	=	"A4"	;
#NET	"NC"         	LOC	=	"A10"	;
#NET	"NC"         	LOC	=	"C7"	;
#NET	"NC"         	LOC	=	"D9"	;
#NET	"NC"         	LOC	=	"D10"	;
#NET	"NC"         	LOC	=	"E5"	;
#NET	"NC"         	LOC	=	"F9"	;
#NET	"NC"         	LOC	=	"E9"	;
#NET	"NC"         	LOC	=	"F10"	;
#NET	"NC"         	LOC	=	"E10"	;
#NET	"NC"         	LOC	=	"F11"	;
#NET	"NC"         	LOC	=	"E11"	;
#NET	"NC"         	LOC	=	"F6"	;
#NET	"NC"         	LOC	=	"F7"	;
#NET	"NC"         	LOC	=	"A12"	;
#NET	"NCRN"       	LOC	=	"B20"	;
#NET	"NCRP"       	LOC	=	"C19"	;
#NET	"NC"         	LOC	=	"D12"	;
#NET	"NC"         	LOC	=	"E12"	;
#NET	"NC"         	LOC	=	"D14"	;
#NET	"NC"         	LOC	=	"E14"	;
#NET	"NC"         	LOC	=	"D15"	;
#NET	"NC"         	LOC	=	"E15"	;
#NET	"NC"         	LOC	=	"E13"	;
#NET	"NC"         	LOC	=	"E16"	;
#NET	"NC"         	LOC	=	"F12"	;
#NET	"NC"         	LOC	=	"F13"	;
#NET	"NC"         	LOC	=	"F14"	;
#NET	"NC"         	LOC	=	"F16"	;
#NET	"NC"         	LOC	=	"F17"	;
#NET	"NCRP"       	LOC	=	"C20"	;
#NET	"NCRN"       	LOC	=	"C21"	;
#NET	"NC"         	LOC	=	"C22"	;
#NET	"NC"         	LOC	=	"D20"	;
#NET	"NC"         	LOC	=	"D19"	;
#NET	"NC"         	LOC	=	"E18"	;
#NET	"NC"         	LOC	=	"F18"	;
#NET	"NC"         	LOC	=	"F19"	;
#NET	"NC"         	LOC	=	"G19"	;
#NET	"NC"         	LOC	=	"G17"	;
#NET	"NC"         	LOC	=	"G18"	;
#NET	"NC"         	LOC	=	"G20"	;
#NET	"NC"         	LOC	=	"H19"	;
#NET	"NC"         	LOC	=	"H18"	;
#NET	"NC"         	LOC	=	"J17"	;
#NET	"NC"         	LOC	=	"K17"	;
#NET	"NC"         	LOC	=	"K18"	;
#NET	"NC"         	LOC	=	"L17"	;
#NET	"NC"         	LOC	=	"L18"	;
#NET	"NC"         	LOC	=	"M18"	;
#NET	"NC"         	LOC	=	"M17"	;
#NET	"NC"         	LOC	=	"N18"	;
#NET	"NC"         	LOC	=	"N17"	;
#NET	"NC"         	LOC	=	"P18"	;
#NET	"NC"         	LOC	=	"P17"	;
#NET	"NC"         	LOC	=	"P19"	;
#NET	"NC"         	LOC	=	"R19"	;
#NET	"NC"         	LOC	=	"R18"	;
#NET	"NC"         	LOC	=	"T18"	;
#NET	"NC"         	LOC	=	"T17"	;
#NET	"NC"         	LOC	=	"U18"	;
#NET	"NC"         	LOC	=	"U19"	;
#NET	"NC"         	LOC	=	"V20"	;
#NET	"NC"         	LOC	=	"V19"	;
#NET	"NC"         	LOC	=	"W19"	;
#NET	"NCRP"       	LOC	=	"Y20"	;
#NET	"NCRN"       	LOC	=	"Y19"	;
#NET	"NC"         	LOC	=	"Y21"	;
#NET	"NC"         	LOC	=	"U16"	;
#NET	"NC"         	LOC	=	"U17"	;
#NET	"NC"         	LOC	=	"V17"	;
#NET	"NC"         	LOC	=	"V18"	;
#NET	"NC"         	LOC	=	"Y12"	;
#NET	"DT/R"       	LOC	=	"W18"	;
#NET	"ALE"        	LOC	=	"Y18"	;
#NET	"CONFD0"     	LOC	=	"AA14"	;
#NET	"NC"         	LOC	=	"U6"	;
#NET	"NC"         	LOC	=	"U7"	;
#NET	"NC"         	LOC	=	"U9"	;
#NET	"NC"         	LOC	=	"U10"	;
#NET	"NC"         	LOC	=	"U11"	;
#NET	"NC"         	LOC	=	"W6"	;
#NET	"NC"         	LOC	=	"V6"	;
#NET	"NC"         	LOC	=	"V7"	;
#NET	"BREQO"      	LOC	=	"W8"	;
#NET	"NC"         	LOC	=	"V8"	;
#NET	"NC"         	LOC	=	"W9"	;
#NET	"NC"         	LOC	=	"V9"	;
#NET	"NC"         	LOC	=	"V10"	;
#NET	"DMPAF"      	LOC	=	"Y5"	;
#NET	"PMEIN"      	LOC	=	"W5"	;
#NET	"NC"         	LOC	=	"W7"	;
#NET	"SERR"       	LOC	=	"Y10"	;
#NET	"NC"         	LOC	=	"Y6"	;
#NET	"DACK1"      	LOC	=	"AB4"	;
#NET	"DRQ1"       	LOC	=	"AA4"	;
#NET	"DACK0"      	LOC	=	"AB5"	;
NET	"DREQ"       	LOC	=	"AA5"	 | IOSTANDARD = LVTTL  | PULLUP  | SLEW = FAST ; 	# DRQ0 = 4I68/5I22/5I23 emulation
#NET	"INTI"       	LOC	=	"Y7"	;
#NET	"NC"         	LOC	=	"M6"	;
#NET	"NC"         	LOC	=	"M5"	;
#NET	"NC"         	LOC	=	"N6"	;
#NET	"NC"         	LOC	=	"N5"	;
#NET	"NC"         	LOC	=	"P5"	;
#NET	"NC"         	LOC	=	"P4"	;
#NET	"NC"         	LOC	=	"R5"	;
#NET	"NC"         	LOC	=	"P6"	;
#NET	"NC"         	LOC	=	"U4"	;
#NET	"NC"         	LOC	=	"T4"	;
#NET	"NC"         	LOC	=	"T6"	;
#NET	"REVERSE"    	LOC	=	"T5"	;
#NET	"RECONFIG"   	LOC	=	"V5"	;
#NET	"NCRP"       	LOC	=	"Y3"	;
#NET	"NCRN"       	LOC	=	"Y2"	;
#NET	"NC"         	LOC	=	"C2"	;
#NET	"NCRP"       	LOC	=	"C3"	;
#NET	"NCRN"       	LOC	=	"C4"	;
#NET	"NC"         	LOC	=	"G6"	;
#NET	"NC"         	LOC	=	"F5"	;
#NET	"NC"         	LOC	=	"H5"	;
#NET	"NC"         	LOC	=	"G5"	;
#NET	"NC"         	LOC	=	"J5"	;
#NET	"NC"         	LOC	=	"J6"	;
#NET	"NC"         	LOC	=	"K3"	;
#NET	"NC"         	LOC	=	"K4"	;
#NET	"NC"         	LOC	=	"K5"	;
#NET	"NC"         	LOC	=	"K6"	;
#NET	"NC"         	LOC	=	"L1"	;
#NET	"NC"         	LOC	=	"L2"	;
#NET	"NC"         	LOC	=	"L3"	;
#NET	"NC"         	LOC	=	"L4"	;
#NET	"NC"         	LOC	=	"L5"	;
#NET	"NC"         	LOC	=	"L6"	;
NET "LCLK" TNM_NET = LCLK;
TIMESPEC TS_LCLK = PERIOD "LCLK" 20 ns HIGH 50%;
OFFSET = OUT 16.7 ns AFTER "LCLK";
#PACE: Start of Constraints generated by PACE

#PACE: Start of PACE I/O Pin Assignments
NET "ADS"  LOC = "AB8" | IOSTANDARD = LVTTL  | PULLUP ; 
NET"BTERM"  LOC =	"AA11" | IOSTANDARD = LVTTL ;
NET "BLAST"  LOC = "AA8" | IOSTANDARD = LVTTL  | PULLUP ; 
NET "CCS"  LOC = "AA7" | IOSTANDARD = LVTTL  | PULLUP ; 
NET "HOLD"  LOC = "AB10" | IOSTANDARD = LVTTL  | PULLUP ; 
NET "HOLDA"  LOC = "AA10" | IOSTANDARD = LVTTL ; 
NET "INT"  LOC = "AB7" | IOSTANDARD = LVTTL ; 

NET "IOBITS<0>"  LOC = "D11" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<100>"  LOC = "P22" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<101>"  LOC = "P21" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<102>"  LOC = "M22" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<103>"  LOC = "M21" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<104>"  LOC = "L19" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<105>"  LOC = "L20" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<106>"  LOC = "J21" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<107>"  LOC = "J22" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<108>"  LOC = "G21" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<109>"  LOC = "G22" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<10>"  LOC = "F4" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<110>"  LOC = "E19" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<111>"  LOC = "E20" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<112>"  LOC = "A18" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<113>"  LOC = "B18" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<114>"  LOC = "D17" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<115>"  LOC = "E17" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<116>"  LOC = "B15" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<117>"  LOC = "A15" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<118>"  LOC = "C13" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<119>"  LOC = "D13" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<11>"  LOC = "E3" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<120>"  LOC = "V22" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<121>"  LOC = "V21" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<122>"  LOC = "T20" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<123>"  LOC = "T19" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<124>"  LOC = "N22" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<125>"  LOC = "N21" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<126>"  LOC = "M20" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<127>"  LOC = "M19" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<128>"  LOC = "K21" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<129>"  LOC = "K22" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<12>"  LOC = "G3" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<130>"  LOC = "J18" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<131>"  LOC = "J19" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<132>"  LOC = "F20" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<133>"  LOC = "F21" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<134>"  LOC = "D21" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<135>"  LOC = "D22" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<136>"  LOC = "C18" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<137>"  LOC = "D18" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<138>"  LOC = "A16" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<139>"  LOC = "B16" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<13>"  LOC = "G4" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<140>"  LOC = "A14" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<141>"  LOC = "B14" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<142>"  LOC = "B12" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<143>"  LOC = "C12" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<14>"  LOC = "J1" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<15>"  LOC = "J2" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<16>"  LOC = "M4" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<17>"  LOC = "M3" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<18>"  LOC = "P2" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<19>"  LOC = "P1" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<1>"  LOC = "C11" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<20>"  LOC = "T2" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<21>"  LOC = "T1" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<22>"  LOC = "V4" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<23>"  LOC = "V3" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<24>"  LOC = "C10" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<25>"  LOC = "B10" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<26>"  LOC = "E8" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<27>"  LOC = "D8" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<28>"  LOC = "C6" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<29>"  LOC = "B6" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<2>"  LOC = "B8" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<30>"  LOC = "B5" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<31>"  LOC = "A5" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<32>"  LOC = "E4" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<33>"  LOC = "D4" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<34>"  LOC = "F2" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<35>"  LOC = "F3" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<36>"  LOC = "H1" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<37>"  LOC = "H2" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<38>"  LOC = "K1" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<39>"  LOC = "K2" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<3>"  LOC = "A8" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<40>"  LOC = "N2" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<41>"  LOC = "N1" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<42>"  LOC = "R2" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<43>"  LOC = "R1" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<44>"  LOC = "U3" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<45>"  LOC = "U2" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<46>"  LOC = "W2" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<47>"  LOC = "W1" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<48>"  LOC = "B11" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<49>"  LOC = "A11" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<4>"  LOC = "E7" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<50>"  LOC = "B9" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<51>"  LOC = "A9" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<52>"  LOC = "B7" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<53>"  LOC = "A7" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<54>"  LOC = "E6" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<55>"  LOC = "D6" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<56>"  LOC = "D1" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<57>"  LOC = "C1" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<58>"  LOC = "E1" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<59>"  LOC = "E2" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<5>"  LOC = "D7" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<60>"  LOC = "G1" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<61>"  LOC = "G2" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<62>"  LOC = "J4" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<63>"  LOC = "H4" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<64>"  LOC = "M2" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<65>"  LOC = "M1" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<66>"  LOC = "N4" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<67>"  LOC = "N3" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<68>"  LOC = "T3" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<69>"  LOC = "R4" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<6>"  LOC = "D5" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<70>"  LOC = "V2" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<71>"  LOC = "V1" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<72>"  LOC = "W22" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<73>"  LOC = "Y22" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<74>"  LOC = "U21" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<75>"  LOC = "U20" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<76>"  LOC = "R22" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<77>"  LOC = "R21" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<78>"  LOC = "N20" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<79>"  LOC = "N19" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<7>"  LOC = "C5" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<80>"  LOC = "L21" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<81>"  LOC = "L22" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<82>"  LOC = "K19" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<83>"  LOC = "K20" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<84>"  LOC = "H21" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<85>"  LOC = "H22" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<86>"  LOC = "E21" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<87>"  LOC = "E22" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<88>"  LOC = "A19" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<89>"  LOC = "B19" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<8>"  LOC = "D3" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<90>"  LOC = "B17" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<91>"  LOC = "C17" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<92>"  LOC = "C16" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<93>"  LOC = "D16" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<94>"  LOC = "A13" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<95>"  LOC = "B13" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<96>"  LOC = "W21" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<97>"  LOC = "W20" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<98>"  LOC = "T22" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<99>"  LOC = "T21" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "IOBITS<9>"  LOC = "D2" | IOSTANDARD = LVTTL  | PULLUP  | SLEW = SLOW ; 
NET "LAD<0>"  LOC = "AB11" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<10>"  LOC = "V13" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<11>"  LOC = "U13" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<12>"  LOC = "AB13" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<13>"  LOC = "AA13" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<14>"  LOC = "Y13" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<15>"  LOC = "W13" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<16>"  LOC = "U14" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<17>"  LOC = "V16" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<18>"  LOC = "W14" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<19>"  LOC = "V14" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<1>"  LOC = "AB14" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<20>"  LOC = "AB15" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<21>"  LOC = "AA15" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<22>"  LOC = "W15" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<23>"  LOC = "V15" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<24>"  LOC = "AB16" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<25>"  LOC = "AA16" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<26>"  LOC = "Y16" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<27>"  LOC = "W16" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<28>"  LOC = "AA17" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<29>"  LOC = "Y17" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<2>"  LOC = "U12" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<30>"  LOC = "AB18" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<31>"  LOC = "AA18" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<3>"  LOC = "V12" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<4>"  LOC = "W11" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<5>"  LOC = "V11" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<6>"  LOC = "AB9" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<7>"  LOC = "AA9" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<8>"  LOC = "AB12" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LAD<9>"  LOC = "AA12" | IOSTANDARD = LVTTL  | KEEPER ; 
NET "LCLK"  LOC = "Y11" | IOSTANDARD = LVTTL ; 
NET "LEDS<0>" LOC = "W12" | IOSTANDARD = LVTTL  | SLEW = SLOW ;
NET "LW_R"  LOC = "W17" | IOSTANDARD = LVTTL  | PULLUP ; 
NET "READY"  LOC = "Y4" | IOSTANDARD = LVTTL  | PULLDOWN ; 
NET "clkfx1" TNM_NET = "async_med";	# For async sserial processor
NET "LCLK" TNM_NET = "async_low";	
TIMESPEC "TSLowToMed" = FROM "async_low" to "async_med" TIG;
TIMESPEC "TSMedtoLow" = FROM "async_med" to "async_low" TIG;
