NET "CLK" TNM_NET = "CLK";
TIMESPEC "TS_CLK" = PERIOD "CLK" 19.9 ns HIGH 50 %;
NET	"SPICLK"		LOC = "P70"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank2 L1P_CCLK
NET	"SPICS"		LOC = "P38"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank2 L65N_CSO_B
NET	"SPIIN"		LOC = "P65"	| IOSTANDARD = LVTTL;	# Bank2 L3P_D0_MISO1
NET	"SPIOUT"		LOC = "P64"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank2 L3N_CSI_MISO0
NET	"ECLK"		LOC = "P47"	| IOSTANDARD = LVTTL | DRIVE = 4  ;	# Bank1 L48N_M1DQ9
NET	"NECS"		LOC = "P41"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW	;	# Bank2 L63N
NET	"ECMD"		LOC = "P40"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank2 L63P
NET	"NEREAD"		LOC = "P44"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank2 L48N_RDWR_VREF
NET	"NEWRITE"	LOC = "P43"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank2 L49N_D4
NET	"NERST"		LOC = "P46"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank1 L48P_HDC_M1DQ8
NET	"EINT"		LOC = "P45"	| IOSTANDARD = LVTTL  | PULLUP;	# Bank2 L48P_D7
NET	"CLK"			LOC = "P50"	| IOSTANDARD = LVTTL;	# Bank2 L31P_C31_D14
NET	"ED<0>"		LOC = "P14"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank2 L47N
NET	"ED<1>"		LOC = "P15"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank2 L47P
NET	"ED<2>"		LOC = "P16"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank2 L32N_C28
NET	"ED<3>"		LOC = "P17"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank2 L32P_C29
NET	"ED<4>"		LOC = "P21"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank2 L30N_C0_USRCC
NET	"ED<5>"		LOC = "P22"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank2 L30P_C1_D13
NET	"ED<6>"		LOC = "P23"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank2 L14N_D12
NET	"ED<7>"		LOC = "P24"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank2 L23N
NET	"ED<8>"		LOC = "P26"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank2 L23P
NET	"ED<9>"		LOC = "P27"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank1 L52N_M1DQ15
NET	"ED<10>"	LOC = "P29"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank1 L52P_M1DQ14
NET	"ED<11>"	LOC = "P30"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank1 L51N_M1DQ13
NET	"ED<12>"	LOC = "P32"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank1 L51P_M1DQ12
NET	"ED<13>"	LOC = "P33"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank1 L50N_M1UDQSN
NET	"ED<14>"	LOC = "P34"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank1 L49N_M1DQ11
NET	"ED<15>"	LOC = "P35"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank1 L49P_M1DQ10
NET	"IOBITS<0>"	LOC = "P101"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	
NET	"IOBITS<1>"	LOC = "P102"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	
NET	"IOBITS<2>"	LOC = "P104"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	
NET	"IOBITS<3>"	LOC = "P105"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	
NET	"IOBITS<4>"	LOC = "P114"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	
NET	"IOBITS<5>"	LOC = "P115"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	
NET	"IOBITS<6>"	LOC = "P116"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	
NET	"IOBITS<7>"	LOC = "P117"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	
NET	"IOBITS<8>"	LOC = "P118"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	
NET	"IOBITS<9>"	LOC = "P119"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	
NET	"IOBITS<10>"	LOC = "P120"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET	"IOBITS<11>"	LOC = "P126"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | PULLUP ;
NET	"IOBITS<12>"	LOC = "P127"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | PULLUP ;
NET	"IOBITS<13>"	LOC = "P131"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | PULLUP ;
NET	"IOBITS<14>"	LOC = "P138"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | PULLUP ;
NET	"IOBITS<15>"	LOC = "P139"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | PULLUP ;
NET	"IOBITS<16>"	LOC = "P140"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | PULLUP ;

NET	"IOBITS<17>"	LOC = "P141"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | PULLUP ;
NET	"IOBITS<18>"	LOC = "P142"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | PULLUP ;
NET	"IOBITS<19>"	LOC = "P1"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | PULLUP ;
NET	"IOBITS<20>"	LOC = "P2"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | PULLUP ;
NET	"IOBITS<21>"	LOC = "P5"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | PULLUP ;
NET	"IOBITS<22>"	LOC = "P6"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | PULLUP ;
NET	"IOBITS<23>"	LOC = "P7"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | PULLUP ;
NET	"IOBITS<24>"	LOC = "P8"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | PULLUP ;
NET	"IOBITS<25>"	LOC = "P111"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | PULLUP ;
NET	"IOBITS<26>"	LOC = "P112"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | PULLUP ;
NET	"IOBITS<27>"	LOC = "P121"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET	"IOBITS<28>"	LOC = "P123"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET	"IOBITS<29>"	LOC = "P124"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET	"IOBITS<30>"	LOC = "P132"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET	"IOBITS<31>"	LOC = "P133"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET	"IOBITS<32>"	LOC = "P134"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET	"IOBITS<33>"	LOC = "P137"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW | PULLUP;

NET	"IOBITS<34>"	LOC = "P100"	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<35>"	LOC = "P99"	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<36>"	LOC = "P98"	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<37>"	LOC = "P97"	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<38>"	LOC = "P95"	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<39>"	LOC = "P94"	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<40>"	LOC = "P93"	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<41>"	LOC = "P92"	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;	
NET	"IOBITS<42>"	LOC = "P88"	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;	
NET	"IOBITS<43>"	LOC = "P87"	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;	
NET	"IOBITS<44>"	LOC = "P85"	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;	
NET	"IOBITS<45>"	LOC = "P84"	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;	
NET	"IOBITS<46>"	LOC = "P83"	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;	
NET	"IOBITS<47>"	LOC = "P82"	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;	
NET	"IOBITS<48>"	LOC = "P81"	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;	
NET	"IOBITS<49>"	LOC = "P80"	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;	
NET	"IOBITS<50>"	LOC = "P79"	| IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;	
NET	"LEDS<0>"	LOC = "P9"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;	# Bank3 L33N_M3DQ13
NET	"LEDS<1>"	LOC = "P10"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;	# Bank3 L33P_M3DQ12
NET	"LEDS<2>"	LOC = "P11"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;	# Bank3 L32N_M3DQ15
NET	"LEDS<3>"	LOC = "P12"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;	# Bank3 L32P_M3DQ14
NET	"OPTS<0>"	LOC = "P78"	| IOSTANDARD = LVTTL | PULLUP;	
NET	"OPTS<1>"	LOC = "P75"	| IOSTANDARD = LVTTL | PULLUP;	
NET	"TP<0>"		LOC = "P61"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank3 L35P_M3DQ10
NET	"TP<1>"		LOC = "P62"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank3 L35N_M3DQ11
NET	"NINIT"		LOC = "P39"	| IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;	# Bank2 L65P_INIT_B

